{% extends 'base.html.twig' %}

{% block title %}New ConcertRoom{% endblock %}

{% block body %}
    <h1>Create new ConcertRoom</h1>

    {{ include('concert_room/_form.html.twig') }}

    <a href="{{ path('concert_room_index') }}">back to list</a>
{% endblock %}
