#cgu .titleCont {
    width: 100%;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    margin: 1rem 0 0 0;
}

#cgu section {
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 2rem;
}

#cgu section p {
    text-align: justify;
    color: #3c3c3c;
}

#topCont {
    padding-bottom: 1rem;
    border-bottom: 1px solid #3c3c3c;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
}