.MuiStepIcon-root.MuiStepIcon-completed {
    color: #02c6d0 !important;
}

.MuiStepper-root,
.MuiPaper-root {
    background-color: #3c3c3c !important;
}

.MuiStepLabel-label {
    color: white !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: white !important;
    border: 1px solid #02c6d0;
    border-radius: 50% !important;
}

.MuiStepIcon-root.MuiStepIcon-active .MuiStepIcon-text {
    fill: #3c3c3c;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.stepBody {
    border-top: 1px solid #3c3c3c;
    padding: 3rem 0;
}

#sectionConcertBooking {
    border: none !important;
    padding: 0 !important;
    @include verticalCenter;
    flex-direction: column;
}

.concertReservation {
    padding: 0 !important;
}

.verticalCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artistHead {
    width: 100%;
    max-width: 1000px;
    background-color: #989797;
    padding: 2rem;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.afficheConcert {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.stepBody div {
    @include verticalCenter;
}

#planSalleContainer{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width:1000px;
}

.stepBody div.ligne {
    width:100%;
    display: flex;
    justify-content: center;
    align-Items: center;
}

#scene {
    width:100%;
    height:100px;
    background-color: lightgrey;
    margin: 30px 0;
}

#scene h4 {
color:#3c3c3c;
text-align: center;
text-transform: uppercase;
}

.seats {
    margin: 0 10px;
}

.seatContainer {
    @include verticalCenter;
    flex-direction: column;
}

.lineLetter {
    margin-bottom:0;
    color:#3c3c3c;
    font-size:1.2rem;
    font-weight: bold;
}