.lc{
    display: inline-block;
    clear: left;
    width: 250px;

}


.ci{
    margin-left: 43%;
}
.ci2{
    margin-left: 31px;
}
.vert{
    background: green;
    margin-left: 20px;
}
.effa{
    margin-left: 20px;
}
.rouge{
    background: rgb(161, 0, 0);
}
#myForm{
    width: 30%;
    margin-left: 0;
    margin-top: 20px;
    border: solid;
    background: white;
    border-radius: 4%;
    border-color: white;
}
.tinsc{
    display: flex;
    justify-content: center;
    margin-bottom: 2pc;

}
.contenaireCreate{
    margin-left: 20px;
    margin-bottom: 28px;
}
main{
    background: url(https://thumbs.gfycat.com/BeautifulSparseAzurewingedmagpie-size_restricted.gif)no-repeat center center background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}