@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-1:'Roboto',
cursive;

$border-radius:25px;
$color-1: #3c3c3c;

@mixin verticalCenter {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@mixin SpaceArround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.no-marge {
    margin: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.no-padding {
    padding: 0 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    margin: 0 !important;
    width: 100%;
    /*padding-right: 17px !important;*/
    box-sizing: border-box !important;
}

.MuiButton-containedPrimary {
    background-color: #02c6d0 !important;
}

.titleCont {
    color: white;
    padding: 1rem 0;
    margin: 1rem 0;
}

.titleCont div h1 {
    text-transform: uppercase;
    text-align: center;
}

.bg-dark {
    background-color: #3c3c3c !important;
}

.text-dark {
    color: #3c3c3c !important;
}

.text-white {
    color: white !important;
}

.bg-blue {
    background-color: #02c6d0 !important;
}

.text-blue {
    color: #02c6d0 !important;
}

main {
    width: 100%;
    min-height: calc(100vh - 642px);
}

button {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.alert {
    border-radius: 0 !important;
}