{% extends 'base.html.twig' %}

{% block title %}New InVoice{% endblock %}

{% block body %}
    <h1>Create new InVoice</h1>

    {{ include('in_voice/_form.html.twig') }}

    <a href="{{ path('in_voice_index') }}">back to list</a>
{% endblock %}
